@import url('../../../styles/variables.css');

.app-header {
    background-color: var(--color-main-bg);
    color: var(--color-text);
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 96vw;
    z-index: 1000;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header-left {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.app-logo {
    height: 100%;
    max-height: 10vh;
    margin-right: 2vw;
    vertical-align: middle;
}

.app-title {
    font-size: 2.5vh;
    font-weight: 700;
}

.app-nav {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.app-nav a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 700;
    padding: 2.5vh 1.5vw 2.5vh 1.5vw;
    border-radius: 0.5vw;
    transition: background 0.2s;
    font-size: 18pt;
    
}

.app-nav a:hover,
.app-nav a:focus {
    background: var(--color-hover);
}