:root {
    --color-bg: #f5f5f5;
    --color-border: #ddd;
    --color-main-bg: yellowgreen;
    --color-text: #1e2627;
    --color-hover: rgba(30,38,39,0.1);
    --padding-header-footer: 1rem 2vw;
    --padding-header-footer-mobile: 0.5rem 4vw;
    --margin-footer: 2rem;
    --font-main: 'Exo 2', system-ui, sans-serif;
    --header-height: 15vh;
    --header-height-mobile: 70px;
    --footer-height: 10vh;
}